extend layout


block content
    .container
        table.table.table-striped.table-bordered
            thead
                tr
                    td Order id
                    td Product id
                    td Order date
                    td Amount
                    td Customer name
            tbody
                each data in details
                    tr 
                    
                        td #{data.oid}
                        td #{data.pid}
                        td #{data.date}
                        td #{data.amount}
                        td #{data.name}
