doctype
html
    head
        title Product details 
    body
        h1 Application name #{appname}
        h2 Product id: #{id}
        h2 name : #{name}
        h2 Cost : #{cost}
        h2 Category :#{category}
        h2 Description :#{description}
          
        